datasets/collections
datasets/dataset_bert
datasets/TREC/msmarcotrain
datasets/TREC/msmarcodev
datasets/TREC/DL2019
datasets/TREC/DL2020
datasets/TREC/DLHard
corpus_faiss/
retrieval_results/
output/
*.pkl
*.log
*.out
*.cache/
*.venv/
*.env/
checkpoint/
**/checkpoint/
**/__pycache__/
